/*Primero definimos al documento*/
html {
	height: 100%;
	width: 100%;
}
body {
	color: #333;
	font-family: "DejaVu Sans", "Sans", generic;
	-webkit-font-smoothing: subpixel-antialiased;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	height: 100%;
	width: 100%;
}
footer {
	width: 100%;
	font-size: 10px;
}
footer>section {
	display: inline-block;
}
article {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#banner {
	display: inline-block;
	float: right;
	padding-right: 10px;
}
main {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	min-height: 70%;
}
#inicio {
background-color: #eee;
border-radius: 10px;
padding-top: 2%;
padding-right: 4%;
padding-bottom: 2%;
padding-left: 4%;
}
/*Texto*/
a, a:active, a:visited {
	text-decoration: none;
	color: #0086CC;
}
hr {
	border: 0px;
	height: 1px;
	background-color: #aaa;
}
h1 {
	font-size: 60px;
}
/*Formularios*/
input[type="text"] {
border: 1px solid #cccccc;
border-radius: 5px;
padding: 5px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
margin-bottom: 10px;
line-height: 20px;
vertical-align: middle;
-webkit-border-radius: 4px;
border-radius: 4px;
cursor: auto;
}
input[type="submit"],input[type="button"], #boton {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	border: 1px;
	border-color: #0062B8;
	margin: 5px;
	background: #0044CC;
	background: -webkit-linear-gradient(#0086CC, #0044CC); /* For Safari */
	background: -o-linear-gradient(#0086CC, #0044CC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0086CC, #0044CC); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0086CC, #0044CC); /* Standard syntax */
	padding: 11px 19px;
	font-size: 17.5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
}
input[type="submit"]:hover ,input[type="buton"]:hover {
background: #0044CC;
}
code {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	display: block;
	background-color: #ddd;
	word-wrap: break-word;
}
figure {
}
figcaption {
	font-size: smaller;
}
/* Menu Superior*/
#menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: static;
	top: 0px;
	right: 0px;
	left: 0px;
	background: -webkit-linear-gradient(#212121, #111111); /* For Safari */
	background: -o-linear-gradient(#212121, #111111); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#212121, #111111); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#212121, #111111); /* Standard syntax */
	color: #999999;
	z-index: 2;
	font-weight: lighter;
}
#menu a {
	color: #999999;
}
#menutitulo {
	font-weight: bold;
	color: #fff;
}
#menu a:hover {
	color: #fff;
}
#menu > li {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	margin: 0px;
	text-shadow: 0em 0em 0.3em black;
}
/*Submenu*/
#menu > li > ul {
	padding: 0px;
	display: none;
	list-style-type: none;
	border: 0px solid black;
	background-color: #111;
	position: absolute;
	margin-top: 10px;/*Debe ser igual al espacio inferior de la celda superior, #menu > li > padding-bottom*/
	margin-left: -25px;/*Debe ser igual al negativo del espacio izquierdo de la celda superior, #menu > li > padding-left*/
}
#menu > li > ul > li {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	margin: 0px;
	text-shadow: 0em 0em 0.3em black;
}
/*Sub-submenu*/
#menu > li > ul > li > ul {
	padding: 0px;
	display: none;
	list-style-type: none;
	border: 0px solid black;
	background-color: #111;
	position: absolute;
	margin-top: -10px;/*Debe ser igual al espacio inferior de la celda superior, #menu > li > padding-bottom*/
	margin-left: 25px;/*Debe ser igual al negativo del espacio izquierdo de la celda superior, #menu > li > padding-left*/
}
#menu > li > ul > li > ul > li{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	margin: 0px;
	text-shadow: 0em 0em 0.3em black;
}
/*Hover de linea*/
/**Cambio de color*/
/*#menu > li:hover:not(:nth-child(2)) {
background-color: orange;
-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
}
#menu > li li:hover {
background-color: orange;
-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
}*/
/**Mostrar bloque de submenu y sub-submenu*/
#menu > li:hover > ul {
display: block;
}
#menu > li > ul > li:hover > ul {
display: inline-block;
}
#cb_menu, #lb_menu {
display: none;
}
@media screen and (max-width: 640px) {
	#menu>li:not(:nth-child(1)) {
		display: none;
	}
	#cb_menu:checked ~ ul li{
		display: inline-block;
	}
	#cb_menu:checked ~ ul li > #lb_menu{
		color: red;
	}
	#lb_menu {
		display: inline;
	}
	#menu li {
		width: 80%;
	}
	#menu > li > ul {
		position: static;
		margin-top: 6px;
		margin-bottom: -6px;
		display: block;
	}
	#menu > li > ul > li {
		padding-left: 35px;
	}
	#menu > li > ul > li > ul {
		position: static;
		margin-top: 6px;
		margin-bottom: -6px;
		margin-left: -35px;
		display: block;
	}
	#menu > li > ul > li > ul > li{
		padding-left: 45px;
	}
	#menu > li > ul > li:hover > ul {
		display: block;
	}
	.mini {
		display: none;
	}
}
/*Cuerpo de url.php*/
#editor {
width: 95%;
height: 80%;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
#editor > form {
height: 100%;
}
#selector_imagenes, #editor_texto {
float: left;
height: 98%;
}
/*selector de imagenes*/
#selector_imagenes
{
width: 30%;
overflow-y:auto;
border: 1px solid #cccccc;
border-radius: 5px;
padding: 5px;
}
.radio-toolbar input[type="radio"] {
    display:none;
}
.radio-toolbar label {
    display:inline-block;
    padding:4px 11px;
    width: 50px;
}
.radio-toolbar label img {
	width: 100%;
}
.radio-toolbar input[type="radio"]:checked + label{
    background-color:orange;
    max-width: 100%;
    width: auto;
    
}
.radio-toolbar input[type="radio"]:checked + label img{
    width: 100%;
}
/*Seccion de edición*/
#editor_texto
{
width: 60%;
margin-left: 10px;
}
#inputtitulo {
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	font-weight: bolder;
	font-size: large;
}
.pestana, #vistaprevia, #editar {
	border: 1px solid #cccccc;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: white;
	font-size: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: generic;
	display: inline-block;
	margin: 0;
	text-shadow: none;
	color: #000;
}
.pestana:focus {
	background-color: orange;
}
#vistaprevia:focus ~ iframe, #editar:focus ~ #descripcion {
	display: inline-block;
}
#vistaprevia:focus ~ #descripcion, #editar:focus ~ #iframe {
	display: none;
}
.mini {
	font-size: smaller;
}
#descripcion {
width: 100%;
max-width: 100%;
min-height: 35%;
max-height: 40%;
height: auto;
border: 1px solid #cccccc;
border-radius: 5px;
padding: 5px;
	display: inline-block;
}
iframe {
	display: none;
width: 100%;
min-height: 40%;
max-height: 50%;
height: auto;
border: 1px solid #cccccc;
border-radius: 5px;
padding: 5px;
overflow: auto;
}
#etiquetas {
 width: 100%;
}
#destinatarios {
	width: 100%;
	height: 20%;
	font-size: smaller;
	display: block;
	padding: 0px;
	margin: 0px;
}
#destinatarios > div {
	display: inline-block;
	width: 45%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: text-top;
}
.select {
	max-width: 100%;
	width: auto;
	max-height: 70%;
	height: auto;
	display: block;
	overflow-y: visible;
	overflow-x: hidden;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
}
.select:hover, input[type="text"]:focus, textarea:focus, #selector_imagenes:hover {
-moz-box-shadow: 0px 0px 15px rgba(0,105,255,.2);
-webkit-box-shadow: 0px 0px 15px rgba(0,105,255,.8);
box-shadow: 0px 0px 15px rgba(0,105,255,.2);
}
.select input[type="checkbox"] {
    display:none;
}
.select label {
    display:block;
    padding:5px 10px;
    word-wrap: break-word;
}
.select input[type="checkbox"]:checked + label{
    background-color:orange;
}
#logo {
border-radius: 10px;
}
#granada {
display: inline-block;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #bbb;
border-radius: 2px;
font-size: smaller;
font-weight: bolder;
background: #ccc;
background: -webkit-linear-gradient(#eee, #ccc); /* For Safari */
background: -o-linear-gradient(#eee, #ccc); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#eee, #ccc); /* For Firefox 3.6 to 15 */
background: linear-gradient(#eee, #ccc); /* Standard syntax */
vertical-align: text-top;
color: #333;
}
#granada img {
vertical-align: text-top;
line-height: 16px;
}
#granada:focus {
background: #aaa;
}
#granada_b {
display: inline-block;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #555;
border-radius: 2px;
font-size: smaller;
font-weight: bolder;
background: #111;
background: -webkit-linear-gradient(#333, #111); /* For Safari */
background: -o-linear-gradient(#333, #111); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#333, #111); /* For Firefox 3.6 to 15 */
background: linear-gradient(#333, #111); /* Standard syntax */
vertical-align: text-top;
color: #aaa;
}
#granada_b img {
vertical-align: text-top;
line-height: 16px;
}
#granada_b:focus {
background: #111;
}
#css {
font-size: smaller;
}
#avatar {
vertical-align: text-top;
height: 20px;
margin-right: 5px;
}
.iconotexto {
	max-height: 12px;
}
#guardar, #guardar~label>img:nth-child(2) {
	display: none;
}
#guardar:checked~label>img:first-child {
	display: none;
}
#guardar:checked~label>img:nth-child(2) {
	display: inline;
}
#pumpio {
	display: inline-block;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border:1px solid #bbb;
	font-weight: bolder;
background: #ccc;
background: -webkit-linear-gradient(#eee, #ccc); /* For Safari */
background: -o-linear-gradient(#eee, #ccc); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#eee, #ccc); /* For Firefox 3.6 to 15 */
background: linear-gradient(#eee, #ccc); /* Standard syntax */
}
#pumpio>* {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#pumpio>a {
background: #444;
background: -webkit-linear-gradient(#444, #000); /* For Safari */
background: -o-linear-gradient(#444, #000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#444, #000); /* For Firefox 3.6 to 15 */
background: linear-gradient(#444, #000); /* Standard syntax */
}
#pumpio>*:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#pumpio>*:first-child:hover {
background: #67E051;
background: -webkit-linear-gradient(#67E051, #5EB14F); /* For Safari */
background: -o-linear-gradient(#67E051, #5EB14F); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#67E051, #5EB14F); /* For Firefox 3.6 to 15 */
background: linear-gradient(#67E051, #5EB14F); /* Standard syntax */
}
#pumpio>*:nth-child(2):hover {
background: #FF4E36;
background: -webkit-linear-gradient(#FF4E36, #D44633); /* For Safari */
background: -o-linear-gradient(#FF4E36, #D44633); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FF4E36, #D44633); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FF4E36, #D44633); /* Standard syntax */
}
#pumpio>*:nth-child(3):hover {
background: #555;
background: -webkit-linear-gradient(#555, #000); /* For Safari */
background: -o-linear-gradient(#555, #000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#555, #000); /* For Firefox 3.6 to 15 */
background: linear-gradient(#555, #000); /* Standard syntax */
}
#pumpio>*:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#pumpio>a>img {
	height: 10px;
	margin: 0px;
}