<main>
	<p>Comparte interesantes enlaces a tus seguidores o a todo público en la red pump.io, solo debe Iniciar Sesión y comenzar a compartir, puedes usar del formato Markdown para enriquecer el mensaje, y no olvides reportar los fallos.</p>
	<h2>Software</h2>
	<hr>
	<p align="justify">
		EL sistema de Granada esta enteramente escrito en PHP, así como la comunicación con la api de Pump.io como el extractor de contenidos de los enlaces, el cual, en algunos casos como Jamendo existe comunicación con las api de dichos servicios nada mas de lectura, obteniendo descripciones e imágenes certeras con lo que se quiere compartir. Después de extraer el contenido este se puede editar, donde la descripción cuenta con la capacidad de formatear el texto con el lenguaje Markdown, gracias a la biblioteca de interpretación de Emanuil Rusev "<a href="http://parsedown.org/" target="_blank">Parsedown</a>", bajo licencia MIT.
	</p>
	<h2>Herramientas</h2>
	<hr>
	<blockquote>
		<h3>Bookmarklet</h3>
		<p align="justify">
			Esta es una herramienta para los navegadores la cual consiste en compartir rápidamente el enlace de la pagina que estemos visualizando.<br>
			El codigo que presentamos a continuación debe ser guardado en algún marcador de tu navegador favorito y este, por supuesto, estará en la barra de marcadores, entonces cuando se visualice alguna pagina y quieras compartirla, tan solo presionas el botón del marcador y abrirá la ventana para compartirla directamente a Pump.io.
		</p>
		<figure>
			<code>javascript:(function(){var%20d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='<?=$BASE?>url.php?url=',l=d.location,e=encodeURIComponent,g=f+e(l.href);function%20a(){if(!w.open(g,'t','toolbar=0,resizable=0,scrollbars=0,status=1,width=640,height=480')){l.href=g;}}a();})()</code>
			<figcaption>
				El código es una adaptación del bookmarklet de status.net por <a href="http://reportes.redaustral.tk/view.php?id=15" target="_blank">mama21mama</a>.
			</figcaption>
		</figure>
		<p align="justify"></p>
		<h3>Botón "Compartir"</h3>
		<p align="justify">
			Si eres desarrollador o administrador de un sitio en la web, de seguro te interesara añadir un botón para compartir tu contenido a la red Pump.io, es muy fácil solo deberás crear en cada pagina que desees compartir (o cada entrada, si tienes blog u algún sistema parecido) el siguiente enlace:
		</p>
		<code>
			<?=$BASE?>url.php?url=http://TUSITIO.WEB/ETC+ETC
		</code>
		<p align="justify">
			Claramente reemplazas "http://TUSITIO.WEB/ETC+ETC" por la url de la pagina que quieres que se comparta, con eso podrás crear un botón a tu pinta, pero si estas muy apresurado, te presento algunos, cortesía de la casa:
		</p>
		<table summary="" width="80%" cellpadding="10" cellspacing="5" align="center" border="0">
			<tr>
				<th width="50%">Blanco</th>
				<th width="50%">Negro</th>
			</tr>
			<tr>
				<td>
					<a id="granada" href="<?=$BASE?>url.php?url=<?=$BASE?>" target="_blank">
					<img src="<?=$BASE?>pump_logo.png" alt="Compartir" >Compartir</a>
				</td>
				<td bgcolor="black">
					<a id="granada_b" href="<?=$BASE?>url.php?url=<?=$BASE?>" target="_blank"><img src="<?=$BASE?>pump_logo.png" alt="Compartir" >Compartir</a>
				</td>
			</tr>
			<tr>
				<td>
					<h4>CSS:</h4>
					<pre>
						<code id="css">
#granada {
display: inline-block;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #bbb;
border-radius: 2px;
font-size: smaller;
font-weight: bolder;
background: #ccc;
background: -webkit-linear-gradient(#eee, #ccc);
background: -o-linear-gradient(#eee, #ccc);
background: -moz-linear-gradient(#eee, #ccc);
background: linear-gradient(#eee, #ccc);
vertical-align: text-top;
color: #333;
}
#granada img {
vertical-align: text-top;
line-height: 16px;
}
#granada:focus {
background: #aaa;
}
						</code>
					</pre>
				</td>
				<td>
					<h4>CSS:</h4>
					<pre>
						<code id="css">
#granada {
display: inline-block;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #555;
border-radius: 2px;
font-size: smaller;
font-weight: bolder;
background: #111;
background: -webkit-linear-gradient(#333, #111);
background: -o-linear-gradient(#333, #111);
background: -moz-linear-gradient(#333, #111);
background: linear-gradient(#333, #111);
vertical-align: text-top;
color: #aaa;
}
#granada img {
vertical-align: text-top;
line-height: 16px;
}
#granada:focus {
background: #111;
}
						</code>
					</pre>
				</td>
			</tr>
			<tr>
				<th colspan="2">HTML</th>
			</tr>
			<tr>
				<td colspan="2">
					<code>
						&lt;a id=&quot;granada&quot; href=&quot;<?=$BASE?>url.php?url=http://TUSITIO.WEB/ETC+ETC&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;<?=$BASE?>pump_logo.png&quot; alt=&quot;&quot; &gt;Compartir&lt;/a&gt;
					</code>
				</td>
			</tr>
		</table>
		<h3>Botón LIKE-HATE-SHARE</h3>
		<div id="pumpio">
			<a href="https://hip2.it/hip?url=LINK" title="Te Gusta"><img src="<?=$BASE?>recursos/estatico/graficos/thumbsua.png" alt=""></a><a href="https://ih8.it/h8?url=LINK" title="Lo Odias"><img src="<?=$BASE?>recursos/estatico/graficos/thumbsda.png" alt=""></a><a href="http://granada.redaustral.tk/url.php?url=LINK" title="Compartir en Pump.io"><img src="<?=$BASE?>recursos/estatico/graficos/compartira.png" alt=""></a><div>Pump.io</div>
		</div>
	</blockquote>
	<h2>Imagen</h2>
	<hr>
	<figure>
		<img src="<?=$BASE?>recursos/estatico/graficos/logo.jpg" alt="granada árbol frutal gotas de agua la lluvia" id="logo" width="30%">
		<figcaption>
			<b><a href="http://creativecommons.org/publicdomain/zero/1.0/deed.es" >Dedicación de Dominio Público</a></b>.
		</figcaption>
	</figure>
	<h2>Enlaces</h2>
	<hr>
	<ul>
		<li><a href="http://reportes.redaustral.tk/" target="_blank">Reporte de Fallos</a></li>
		<li><a href="https://gitorious.org/granada" target="_blank">Git del Proyecto</a></li>
		<li>Wiki de Granada (TEP)</li>
		<li><a href="http://pump.io/" target="_blank">Pump.io</a></li>
		<li><a href="http://comunicatelibremente.wordpress.com/pump-io/" target="_blank">Mas Información...</a></li>
	</ul>
</main>