<div id="editor_texto">
	<input type='hidden' name='url' value='<?=$url?>'>
	<input type='hidden' name='usuario' value='<?=$usuario?>'>
	<input type='text' title="Escriba el titulo del enlace que quiere compartir." name='titulo' id='inputtitulo' value='<?=$titulo?>' placeholder="Escriba el titulo del enlace que quiere compartir.">
	<div class='mini'>
		Puede enriquecer el texto con el lenguaje <b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Markdown</a></b>.
	</div>
	<input class="pestana" type="button" value="Editar" title="Clic en aquí para editar." id="editar" />
	<input class="pestana" type="submit" value="Vista Previa" title="Clic en aquí para la vista previa." formtarget="vista_previa" formaction="recursos/estatico/acciones/vista_previa.php" formmethod="post" id="vistaprevia"/>
	<br>
	<textarea name='descripcion' id='descripcion' placeholder='Escriba una descripción para el enlace que quiere compartir.'><?=$descripcion?></textarea>
	<iframe src='recursos/estatico/acciones/vista_previa.php' name='vista_previa' sandbox='allow-same-origin'></iframe>
	<input type='text' title="Opcionalmente puede escribir etiquetas para su mensaje." name='etiquetas' id='etiquetas' value='<?=$etiquetas?>' placeholder="Etiquetas (opcional) separadas por comas: juegos,cocina,humor,felicidad">
	<div class='mini'>
		<b>Fuente:</b> <a href="<?=$url?>" target='_blank'><?=$url?></a>
	</div>
	<div class="mini">Escoge con quien o quienes compartes este enlace ( <input type="checkbox" name="guardar" id="guardar" value="1" <?=$checkg?>/><label for="guardar" title="Recordar destinatarios seleccionados."><img src="recursos/estatico/graficos/candadoc.png" alt="" title="" class="iconotexto"><img src="recursos/estatico/graficos/candadoa.png" alt="" title="" class="iconotexto"></label> ):</div>
	<div id="destinatarios">
		<div>
			<b>Para</b>:<br>
			<div class="select">
				<?=$seguidor?>
			</div>
		</div>
		<div>
			<b>Con copia</b>:<br>
			<div class="select">
				<input type='checkbox' name='coleccion[]' id='coleccion0' value="http://activityschema.org/collection/public" <?=$checkp?>><label for='coleccion0'>Público</label>
				<input type='checkbox' name='coleccion[]' id='coleccion1' value="<?=$seguidores[0]['url']?>" <?=$checks?>><label for='coleccion1'>Seguidores</label>
				<?=$s_listas?>
			</div>
		</div>
	</div>
	<input type="submit" value="Enviar" id="boton">
</div>