<main>
	<section id="inicio">
	<table cellpadding="0" cellpadding="0" width="100%" border="0">
		<tr>
			<td valign="top">
				<h1>Granada</h1>
				<br>
				Comparte interesantes enlaces en pump.io<br>
				<em>"Oh Señor, bendice esta granada, que en tu gloria volará a tus enemigos en pequeños trozos, en tu misericordia"</em>
				<br>
				<br>
				<a href="inicio_sesion.php" id="boton">Comparte!</a>
			</td>
			<td width="50%" valign="center" align="center">
				<img src="<?=$BASE?>recursos/estatico/graficos/logo.jpg" id="logo" alt="Logo Granada" width="60%">
			</td>
		</tr>
	</table>
	</section>
</main>