<hr>
<footer>
	<section>
	Granada, por <b><a href="https://i.rationa.li/sotitrox" target="_blank">Sotitrox</a></b>, hospedado en <b><a href="<?=$LINKHOSP?>" target="_blank"><?=$HOSPEDAJE?></a></b> para los aguerridos usuarios de la red Pump.io.
	</section>
	<section id="banner">
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> <a href="http://www.w3.org/html/logo/">HTML5</a>
	</section>
</footer>
</body>
</html>