<main>
	<h1>Comparte</h1>
	<blockquote>
		Ingresa alguna url que quieras compartir.
		<br>
		<form action="url.php" method="post">
			<input type="text" name="url" placeholder="http://sitioweb.com" id="input">
			<br>
			<?=$mensaje?>
			<br>
			<input type="submit" value="Insertar url" id="boton"> 
		</form>
	</blockquote>
</main>